{% extends "master.html" %}

{% block title %}Crear Estudiante{% endblock %}

{% block content %}
<h1 class="text-white text-center">Crear Estudiante</h1>
<div class="mb-3">
  <a href="{% url 'ver_estudiantes' %}" class="btn custom-btn mt-3 mb-3">Ver Estudiantes</a>
</div>
<div class="row justify-content-center">
  <div class="col-lg-9 mb-4 mb-lg-0">
    <div class="custom-block bg-white shadow-lg">
       <form action="#" method="post" class="custom-form subscribe-form" role="form">
        {% csrf_token %}
       {{formulario.as_p}}
        <button type="submit" >Crear Estudiante</button>
      </form>
    </div>
  </div>
</div>
<a href="{% url 'index' %}" class="btn custom-btn custom-border-btn smoothscroll me-4">Inicio</a>
</div>
{% endblock %}