{% extends "master.html" %}

{% block title %}Listado de Estudiantes{% endblock %}

{% block content %}

<!-- Sección de matrículas -->
<h1 class="text-white text-center">{{ mititulo }}</h1>

<div class="mb-3">
  <h6 class="text-center">Número de Matrículas: {{ numero_matriculas }}</h6>
  <a href="{% url 'crear_matricula' %}" class="btn custom-btn mt-3 mb-3">Nueva Matrícula</a>
</div>
<div class="row justify-content-center">
  <div class=" col-lg-20 col-18 mb-4 mb-lg-0">
    <div class="custom-block bg-white shadow-lg">
      <div class="table-responsive">
       <table class="table table-bordered table-hover" id="matriculasTable">
          <thead>
            <tr>
              <th>Estudiante</th>
              <th>Módulo</th>
              <th>Comentario</th>
              <th>Costo</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            {% for e in matriculas %}
            <tr>
              <td>
                {{e.estudiante.apellido}} {{ e.estudiante.nombre }} <br>
                {{ e.estudiante.get_tipo_estudiante_display }}<br>
                <a href="{% url 'detalle_estudiante' e.estudiante.id %}" class="btn btn-link btn-sm">Ver +</a>
              </td>
              <td>{{ e.modulo.nombre }}</td>
              <td>{{ e.comentario }}</td>
              <td>{{ e.costo|floatformat:2 }}</td>
              <td>
                <a href="{% url 'detalle_matricula' e.id %}" class="btn btn-invertido mt-3 mb-3">Ver</a>
                <a href="{% url 'editar_matricula' e.id %}" class="btn btn-invertido mt-3 mb-3">Editar</a>
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="5" class="text-center">No hay matrículas registradas.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block extra_js %}
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css"/>
<script>
$(document).ready(function() {
    var table = $('#matriculasTable').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json"
        },
    });
    $('#searchTable').on('keyup', function() {
        table.search(this.value).draw();
    });
});
</script>
{% endblock %}